/* Our Custom CSS Goes Here */
#search-btn {
    border-color: white;
    border-width: 1px;
}

.card {
    border-color: black;
    border-width: 2px;
    margin-top: 30px;
    text-align: center;
    width: 80%;
}

#rest-uber-div {
    height: 300px;
    padding-top: 75px;
}