#logo {
    border-color: midnightblue;
    border-width: 1px;
    background-color: white;
    padding: 10px;
}

i {
    color: midnightblue;
}

#project-name {
    color: midnightblue;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

.card {
    margin-top: 30px;
    text-align: center;
}

.card-header {
    font-size: xx-large;
}

#weather-Display {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-bottom: 15px;
}

#temp-icon {
    align-content: left;
}

#temperature {
    text-align: center;
}

#search-btn {
    color: midnightblue;
    border-color: midnightblue;
}

#articles {
    text-align: left;
}

#guardian-img {
    width: 100px;
    margin-right: 15px;
}

.guardian-headline {
    font-weight: 500;
    font-size: x-large;
}